@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style-type: none;}
a[href] {text-decoration: none;}

header a{
	color: #081D3F;
}

ul.menu li{
	display: inline-block;
	padding-bottom: 10px;
}

header ul#menu1 li{
	padding-right: 20px;
	font-size: 12pt;
}

header ul:not(#menu1) li{
	padding-right: 10px;
	font-size: 10pt;
}

header li:not(.mainpage){
	position: relative;
	top: -4px;
}

header{
	background: #f2f2f2;
}

header>div{
	width: 83em;
	margin:auto;
	background: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header ul{
	margin: 30px 60px 110px;
}

header img{
	width: 23px;
	height: 18px;
	position: relative;
	top: 3px;
}

footer{
	background: #011E41; 
}


footer>div{
	width: 82em;
	margin:auto;
	padding: 50px 0;
	background: #011E41;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

footer li{
	color: white;
	font-size: 10pt;
}

footer ul{
	text-align: center;
}

footer li:first-of-type {
	font-size: 11pt;
	font-weight: bold;
	text-decoration: underline;
}

footer li:nth-of-type(12) {
	font-weight: bold;
	text-decoration: underline;
}

footer li:last-of-type {
	text-decoration: underline;
}


.dropdown-content{
	display:none;
	position: absolute;
	top: 30px;
	width: 170px;
}

.dropdown-content a{
	background: #fff;
	display: block;
	color: #0042A9;
	padding: 12px 0 12px 12px;
	font-size: 9.5pt;
}

.dropdown-content a:hover{
	background: rgb(15,45,105);
	color: #fff;
}

.dropdown:hover .dropdown-content{
	display:block;
}

img.dalDongHee{
	position: fixed;
	bottom: 20px; right: 20px;
	width: 16em;
}