@charset "UTF-8";

*{margin: 0 ; padding: 0;}
	li{list-style-type:none}
	
	body {
	  width: 120em; 
	  margin:auto;
	}

	.category {
      display: flex;
	  justify-content: center;
	  padding: 30px 0;
	  
      }   
      
	.category span {
      padding:15px;
      color: gray;
      font-size: 12px;    
      }
	
	<%--카테고리 클릭시 밑줄 들어가게 --%>
	.category a{ 
		color: Black; 
		text-decoration:underline;
		}
	.category_line{
		color:black; 
		text-decoration:underline;
	}	
		
	.category span:hover{
		color: black;
		
	}
	
	.contents_line{
		content: "";
		flex-grow: 1;
		background: #F2F2F2;
		height: 1px;
		font-size: 0px;
		line-height: 0px;
		margin: 0px 25%;
	}
	.contents {
	  display: flex;
	  flex-direction: row;
      flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  padding: 0px 25% 50px 25%;  
	}
	.contents1{
		margin: 20px 10px 20px 10px;
	}
	.contents2{
		margin: 50px 10px 30px 10px;
	}
	.contents3{
		margin: 0px 10px 30px 10px;
	}
	
	<%--이미지 눌렀을때 불투명하게 --%>
	.re {
		opacity: 1;
 		filter:alpha(opacity=100);
	}
	
	.re:hover{
		opacity: 0.7;
		filter:alpha(opacity=75);
	}		
		
		
	#percent{
	 color: #FF0000;
	}		
	
	h5{font-size: 13px; margin: 10px 0;}
	.contents1 p {font-size: 12px; margin: 7px 0;}
	.contents2 p {font-size: 12px; margin: 7px 0;}
	.contents3 p {font-size: 12px; margin: 7px 0;}
	
	.material-symbols-outlined {
	  font-variation-settings:
	  'FILL' 0,
	  'wght' 300,
	  'GRAD' 0,
	  'opsz' 30
		}	
	